.section-2 {
  .col-md-4 {
    img {
      opacity: 0.8;
    }
  }

  .col-md-7 {
    background-color: #fff;
    padding: 8rem 5rem;
    position: relative;
    top: 4rem;
    right: 6.5rem;
    height: 37rem;

    @include respond(md) {
      position: relative;
      top: 0;
      right: 0;
    }

    @include respond(sm) {
      position: relative;
      top: 0;
      right: 0;
    }
  }
}
